[submodule "vendor/org-reveal"]
	path = vendor/org-reveal
	url = git@github.com:yjwen/org-reveal.git
[submodule "vendor/helm-git-grep"]
	path = vendor/helm-git-grep
	url = https://github.com/suutari-ai/helm-git-grep.git
[submodule "vendor/workgroups2"]
	path = vendor/workgroups2
	url = git@github.com:suutari-ai/workgroups2.git
